<!-- Start: Navigation with Search -->
<nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
    <div class="container"><a class="navbar-brand" href="#"><i class="typcn typcn-home-outline"></i>&nbsp;SaiGonMart</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse border rounded-0" id="navcol-1">
            <ul class="nav navbar-nav"></ul>
            <form class="form-inline mr-auto" target="_self">
                <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
            </form><a class="border rounded-0" href="login">Đăng nhập</a><a href="signup">Đăng ký</a><a class="btn btn-light action-button" role="button" href="#"><i class="fa fa-cart-plus"></i>&nbsp;</a></div>
    </div>
</nav>
<!-- End: Navigation with Search -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<router-outlet></router-outlet>